{% extends "layouts/base-admin-dashboard.html" %}
{% import "layouts/includes/macros/report.macro" as report_table %}

{% block content %}

    <style>
        table.dataTable.no-footer {
            border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
            margin-bottom: 20px !important;
        }
        table.dataTable thead th, table.dataTable thead td {
            padding: 10px !important;
            border: 1px solid rgba(0, 0, 0, 0.0625) !important;
        }
        td.actions{
            font-size: 1.5em;
            padding: 0 !important;
            padding-left: 1% !important;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    {{ report_table.render_table(endpoint=endpoint, id="data_table", data=data, settings=dict(paging=True, ordering=False)) }}
                    <table id="data_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                            {% if fields %}
                              {% for field in fields %}
                                <th scope="col" data-name="{{ field[0] }}">{{ field[1] }}</th>
                              {% endfor %}
                            {% endif %}
                            </tr>
                        </thead>
                    </table>
                    <br>
                    <div class="d-md-flex justify-content-end">
                        <h4 class="c-grey-900 mB-20">
                        <a class="btn btn-secondary" href="{{ url_for(endpoint + '.index') }}" role="button">Voltar</a>
                    </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block javascripts %}

{% endblock javascripts %}
